// borders
$main_br_radius: 10px;

// colors
$blue_main: #2D3B87;
$blue_bg: #F4F5F9;
$blue_text_1: #969DC3;
$blue_text_2: #616CA5;
$blue_border: #E0E3EE;
$main_green: #69C57F;


// text
$font_main: 'Rubik', 'sans-serif';


//main

$default_transition: .4s;